@import './menu.css';
@import './roleSelection.css';

body {
    background: linear-gradient(
        to top right,
        #00FFFF,
        #8A2BE2,
        #FF007F
    );

    min-height: 100vh;
}

/* Conteneur principal de l'application */
.app-container {
    background-color: rgba(255, 255, 255, 0.75); 
    padding: 80px 30px 30px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
}

.sub-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 40px;
}

.login-container {
    width: 50%;
    min-width: 400px;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.task-progress {
    height: 5px;
}

.divider {
    width: 80%;
    height: 2px;
    background-color: #8080806b;
    margin: auto;
}

/* Style spécifique pour les bouton d'action */
.custom-btn-glow, .custom-btn {
    color: #ffffff;
    border-color: #6a0dad;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.custom-btn {
    color: #6a0dad;
}

.custom-btn-glow:hover {
    color: #ffffff;
    background-color: #6a0dad;
    border-color: #6a0dad;
    transform: translateY(-2px); /* Léger soulèvement */
}

.custom-btn:hover {
    color: #ffffff;
    background-color: #6a0dad;
    border-color: #6a0dad;
}

.actions-column {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#commentSection {
    max-height: 70vh;
    overflow-y: scroll;
    margin-top: 20px;
}